.one
{
    color: blue;
    font-size: 20px;
    background-color: yellow;
}
.two
{
    color: green;
    font-size: 18px;
    background-color: lightgray;
}
p{
    font-family: Arial, sans-serif;
    color: rgb(128, 0, 73);
    border-width: 5px;
    
}
#para {
  text-align: center;
  color: orange;
  background-color: rgb(0, 0, 255);
}
p.cen {
  
  color: purple;
}
h3,h6,h5{
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    background-color: rgb(0, 195, 255,0.3);
}
.myDiv {
  border: 5px outset red;
  background-color: rgb(173, 230, 196);
  text-align: center;
  border-radius:10px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.ram
{
   margin: 25px 50px 75px 100px;
   border: 10px solid red;
    text-align:justify;
    background-color: lightblue;
    color: blue;
    padding: 10px 10px 10px 10px;
}
a:link {
  color: rgb(0, 162, 255);
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
